---
title:
---
  <nav class="navbar navbar-default navbar-inverse header" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav nav-justified">
          <li><a href="#about">About</a></li>
          <li><a href="#journey">The Journey</a></li>
          <li><a href="#crew">The Crew</a></li>
          <li><a href="#events">Screenings</a></li>
          <li><a href="#thanks">Thanks</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- intro -->
  <div class="movie">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <h1 class="title">Nine Rivers</h1>
          <img class="logo" src="/assets/images/nine-rivers-logo.png" alt="Nine Rivers">
        </div>
        <br/>
        <!--
        <div class="row byline">
          Pickle Lake to Fort Severn by canoe
        </div>
        -->

        <div class="row">
          <div class="watch-now-wrapper">
            <button type="button" class="btn btn-danger watch-now-button">
              <h3 class="watch-now">Coming Soon</h3>
              <!--
              <a class="watch-now" href="http://vimeo.com">
                <h3 class="watch-now">Watch the Film 
                  <span class="glyphicon glyphicon-play"></span>
                </h3>
              </a>
              -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container main">
    <!-- ABOUT -->
    <div class="row break" id="about">
      <div class="col-md-offset-2 col-md-8">
        <p>
        <span class="first-words">Nine Rivers</span> follows four men on a month-long,
        thousand kilometre canoe journey through the Canadian shield.
        Share the hardships and splendor of the North on this journey to Hudson Bay.
        </p>
      </div>
    </div>

    <div class="row break">
      <div id="carousel-gallery" class="carousel slide col-md-offset-2 col-md-8">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/assets/images/slideshow/on-kingfisher.jpg"
                 alt="Paddling on Kingfisher Lake">
          </div>
          <div class="item">
            <img src="/assets/images/slideshow/adam.jpg" 
                 alt="Adam Biehler on the Pipestone River">
               </div>
          <div class="item">
            <img src="/assets/images/slideshow/matt-on-nine-rivers.jpg"
                 alt="Matt Perpick on the Severn River">
          </div>
          <div class="item">
            <img src="/assets/images/slideshow/crew.jpg"
                 alt="Paddling on the Fawn River">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-gallery" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-gallery" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>

    <!-- journey -->
    <div class="row break">
      <div class="col-md-offset-2 col-md-8">
        <p id="journey">
        <span class="first-words">The journey</span> begins in Pickle Lake, where Ontario's paved
          roads end, and follows nine rivers that cross
          three watersheds on the way to Fort Severn, a small community on
          the shores of the Bay.

          The route is as difficult as it is varied. Cutting over a thousand
          kilometres of Canadian Shield, it includes massive rivers and
          nameless creeks, upstream slogs and whitewater runs.
        </p>

        <a class="break" href="/assets/images/maps/nine-rivers-route-map.jpg">
          <img class="map break img-rounded"
          src="/assets/images/maps/nine-rivers-route-map.jpg"></a>
      </div>
    </div>

    <!-- crew -->
    <div id="crew" class="row break">
      <div class="col-md-offset-2 col-md-8">
        <p><span class="first-words">The crew</span>.</p>
        <% crew_data = [
        {
            :name => 'Adam Biehler',
            :img  => 'assets/images/crew/adam.jpg',
            :bio  => 'is a Montreal based photographer and videographer
                     whose work has been published in The Walrus and on the
                     CBC. Nine Rivers was his first canoe trip.'
        },
        {
            :name => 'Matt Perpick',
            :img  => '/assets/images/crew/matt.jpg',
            :site => 'http://shiningtree.tumblr.com',
            :bio  => 'is a Brooklyn based paddler, videographer and tech nerd, 
                      silently plotting his return to Canada.
                      His past canoe expeditions include the Seal, Moisie and
                      Albany Rivers.'

        },
        {
            :name => 'Dave Hartman',
            :img  => '/assets/images/crew/dave.jpg',
            :site => 'http://www.hayfiremedia.com',
            :bio  => 'is a BC based videographer and adventurer, who is as
                      comfortable ripping down the Rockies on skis as he is
                      upside down in huge whitewater.
                      His past expeditions include the Attawapiskat, Kesagami
                      and many rivers of the West Kootenays.
                     ' 
        },
        {
            :name => "Ryan 'Turbo' Forsyth",
            :img  => '/assets/images/crew/turbo.jpg',
            :bio  => 'is a paddler and adventurer, whose many expeditions
            include the Winisk, Seal, Bloodvein, Moisie and Albany Rivers. His winters are
            spent poring over the journals of long dead fur traders
            and teaching in Northern Ontario.'
        }
        ] %>
        <% crew_data.each do |crew| %>
        <div class="media crew-bio">
            <a class="pull-left" href="<%= crew[:img] %>">
               <img class="media-object img-rounded"
               src="<%= crew[:img] %>" alt="<%= crew[:alt] %>">
            </a>
            <div class="media-body">
              <strong><%= crew[:name] %> </strong> <%= crew[:bio] %>
              <% if crew[:site] %>
              <a class="crew-bio-link" href="<%= crew[:site] %>"> [more]</a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- events -->
    <div class="row break">
      <div class="col-md-offset-2 col-md-8">
        <span id="events" class="first-words">Screenings</span> of Nine Rivers are
        happening over the next months. Come and join us.
        <br/><br/>

        <table class="table event-list">
          <tbody>
            <tr>
              <td>November 29, 2013</td>
              <td>Toronto, ON</td>
              <td>Camera Bar</td>
              <td>7:00 pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row break">
      <div class="col-md-offset-2 col-md-8">
        <p id="thanks">
        <span class="first-words">Thanks</span> to all the folks who helped make Nine Rivers, from planning
        the trip to polishing the film. Special thanks to 
        <a href="http://www.voltaicsystems.com/">Voltaic
              Systems</a>, who provided a rock solid solar charger
          that went through hell and kept our cameras powered 
          for a month in the bush, and 
          to old paddling friends - Kate Prince, Marty Pomerlau and Brian
          O'Neill - for sharing their canoes with us for the summer.
        </p>
      </div>
    </div>


    <div class="row break">
      <div class="col-md-offset-2 col-md-8">
        <p id="contact" class="text-center"><a
          href="mailto:matthewperpick@gmail.com">Get in touch</a>.
           We'd love to hear from you.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="footer">
        <small>Fortune favours the bold. Copyright 2013.</small>
      </div>
    </div>


  </div> <!-- container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
<% content_for :javascript do %>
  <script type="text/javascript">
    // Site
    $(function () {
      $('.carousel').carousel({interval:5000});

      var $movie = $('.movie');
      var $header = $('.navbar-header');
      var $window = $(window);
      var resizeBackground = function ()  {
        $movie.height($window.height() - $header.height());
      };
      resizeBackground();
      $window.resize(resizeBackground);
      });
  </script>
<%end%>

